//colors
$black: #000;
$blue: #005ddc;
$orange: #FF5800 ;

// fonts
$font_family: "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "Microsoft JhengHei", sans-serif;

// Global styles
body {
	margin: 0;
	padding: 0;
	background: #fff;
	overflow-x: hidden;
	background-image: url(../img/main-bkg.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
a {
	transition: background .3s ease-in-out;
	outline: none!important;
	font-family: $font_family;
	&:hover {
		text-decoration: none;
		cursor: pointer;
	}
}
button {
	transition: background .3s ease-in-out;
	outline: none!important;
	outline: none!important;
}
.page-preloader {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: 100000;
	background: #fff url('../img/pageload-spinner.gif') no-repeat center center;
}
.bloc {
	width: 100%;
	clear: both;
	background: 50% 50% no-repeat;
	padding: 0 50px;
	background-size: cover;
	position: relative;
	display: inline-block;
	.container {
		padding-left: 0;
		padding-right: 0;
	}
}
.bloc-lg {
	padding: 100px 50px;
}
.bloc-md {
	padding: 50px 50px;
}
.full-width-bloc {
	padding-left: 0;
	padding-right: 0;
	.container {
		width: 100%;
		max-width: 100%!important;
	}
	.carousel img {
		width: 100%;
		height: auto;
	}
}

.txt-small {
	font-size: 13px;
}
.btco-menu {
	li {
		> a {
			padding: 10px 15px;
			color: $black;
		}
		a:focus {
			background: transparent;
			outline: 0;
		}
	}
	.active a:focus {
		background: transparent;
		outline: 0;
	}
}
.mg-md {
	margin-top: 10px;
	margin-bottom: 20px;
}
.btn-d {
	color: #fff;
	background: #cefffe;
	opacity: .8;
	&:hover {
		color: #fff;
		background: #cefffe;
	}
}
.a-block {
	width: 100%;
	text-align: left;
	display: inline-block;
}
.icon-md {
	font-size: 30px !important;
}

iframe {
	border: 0;
}
.scroll-fx-in-range {
	will-change: opacity;
}
.scrollToTop {
	width: 40px;
	height: 40px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	opacity: 0;
	z-index: 500;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all .3s ease-in-out;
	span {
		margin-top: 6px;
	}
}
.showScrollTop {
	font-size: 14px;
	opacity: 1;
}
.container {
	max-width: 1280px;
}

// Layouts
#topic,
#content,
#contact,
#footer {
	background: #fff;
}
#regform {
	background: #562a83;
}

#header {
	.header-img-wrap {
		text-align: center;
		position: relative;
		max-width: 760px;
		margin: 0 auto;
	}
	.psc-skype-title {
		width: 100%;
	}
	.psc-skype-package {
		background: #005de0;
		color: #fff;
		display: inline;
		padding: 10px 25px;
		font-size: 18px;
		border-radius: 20px;
		top: -15px;
		position: absolute;
		margin-left: -100px;
	}
	p {
		text-align: center;
		color: #fff;
		font-size: 16px;
		text-align: center;
		margin-top: -120px;
		margin-bottom: 40px;
		z-index: 1;
	}
	.btn-regform {
		background: $orange;
		border-radius: 3px;
		color: #fff;
		font-size: 24px;
		padding: 12px 50px;
		width: 200px;
		box-shadow: 0 3px 15px 0px rgba(50,50,50,.8);
		z-index: 2;
		&:hover {
			background: lighten($orange, 10%);
		}
	}
	.speaker-wrap {
		position: absolute;
		right: 0;
		bottom: 0;
		right: -100px;
		width: 240px;
		z-index: 0;
		img {
			width: 100%;
		}
	}
}
#topic {
	h2 {
		color: #4e4e4e;
		font-size: 72px;
		font-weight: 300;
		text-align: center;
		span {
			color: #999;
			font-size: 24px;
			font-weight: normal;
		}
		.special-bid {
			font-family: "Arial Black";
			color: $orange;
			font-size: 72px;
		}

	}
}

#content {
	h3 {
		color: $orange;
		font-size: 36px;
	}
	h4 {
		color: $blue;
		font-weight: normal;
	}
	ul {
		display: inline-block;
		text-align: left;
	}
	.btn {
		background: #fff;
		border: 1px solid $blue;
		color: $blue;
		font-size: 16px;
		&:hover {
			background: $blue;
			color: #fff;
		}
	}
	.func-wrap {
		color: #555;
		text-align: center;
		margin-bottom: 60px;
		img {
			width: 160px;
		}
	}
}

#contact {
	background: #BCEDFF;
	h5 {
		color: #555;
		font-size: 32px;
		font-weight: normal;
		span {
			color: #333;
		}
	}
}

#footer {
	text-align: center;
	.ms-partner-logo {
		margin: 0 15px;
		max-width: 180px;
	}
	.psc-logo {
		margin: 0 15px;
		max-width: 360px;
	}
}

// RWD styles
@media(max-width: 1024px) {
	.bloc {
		padding-left: 20px;
		padding-right: 20px;
		&.full-width-bloc {
			padding-left: 0;
			padding-right: 0;
		}
	}
	.bloc-tile-2.full-width-bloc .container {
		padding-left: 0;
		padding-right: 0;
	}
	.bloc-tile-3.full-width-bloc .container {
		padding-left: 0;
		padding-right: 0;
	}
	.bloc-tile-4.full-width-bloc .container {
		padding-left: 0;
		padding-right: 0;
	}
}
@media only screen and(min-device-width : 768px) and(max-device-width : 1024px) and(orientation : landscape) {
	.b-parallax {
		background-attachment: scroll;
	}
}
@media only screen and(min-device-width: 1024px) and(max-device-width: 1366px) and(-webkit-min-device-pixel-ratio: 1.5) {
	.b-parallax {
		background-attachment: scroll;
	}
}
@media (max-width: 991px) {

}
@media (max-width: 767px) {
	#topic {
		h2 {
			font-size: 48px;
		}
	}
}
@media (max-width: 640px) {
	.speaker-wrap {
		display: none;
	}
	.bloc-md {
		padding: 20px;
	}
	#contact {
		h5 {
			font-size: 26px;
		}
	}
}
@media (max-width: 575px) {
	#topic {
		h2 {
			font-size: 32px;
			span {
				font-size: 21px;
			}
			.special-bid {
				font-size: 32px;
			}
		}
	}
	.footer-link {
		text-align: center;
	}
}
@media (max-width: 480px) {
	#content {
		h3 {
			font-size: 28px;
		}
		h4 {
			font-size: 21px;
		}
		.func-wrap {
			img {
				width: 120px;
			}
		}
	}
	#contact {
		text-align: center;
		h5 {
			font-size: 24px;
			line-height: 1.5;
			span {
				display: block;
			}
		}
	}
}